* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(234, 29%, 20%);
}

.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  text-align: start;
  padding-left: 50px;
  padding: 10px;
}
h1 {
  font-size: 36px;
  color: hsl(235, 18%, 26%);
  padding: 10px;
}
.updated {
  padding: 10px;
}
img {
  width: 320px;
  height: 420px;
}
p {
  padding: 10px;
  color: hsl(235, 18%, 26%);
}
nav {
  padding: 25px;
  column-gap: 20px;
}
ul {
  list-style-image: url(img/icon-list.svg);
}
li {
  color: hsl(235, 18%, 26%);
  font-size: 16px;
}
.mail {
  padding-top: 10px;
}
.email {
  padding-top: ;
}
input {
  border-radius: 5px;
  width: 100%;
  padding-top: 10px;
}
button {
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-color: hsl(4, 100%, 67%);
  background-color: hsl(4, 100%, 67%);
  color: white;
  border: 0px solid hsl(4, 100%, 67%);
}
